:root {
  --font-color-primary: hsla(0, 0%, 27%, 1);
  --font-color-second: hsla(0, 0%, 53%, 1);
  --color-new_goods: hsla(154, 69%, 55%, 1);
  --bgcolor-new_goods: hsla(154, 70%, 96%, 1);
  --color-bestseller: hsla(28, 71%, 64%, 1);
  --bgcolor-bestseller: hsla(28, 71%, 96%, 1);
  --color-border: hsla(0, 0%, 93%, 1);
  --color-rating-btn: hsla(197, 100%, 47%, 1);
  --color-font-btn: hsla(0, 0%, 100%, 1);
}

body {
    font-family: 'Quicksand', sans-serif;
    color: var(--font-color-primary);
    font-size: 16px;   
}

h3 {
    font-size: 27px;
    line-height: 33px;
    font-weight: 300;
    margin: 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.products__view {
    margin: 0 auto;
}

.products__cards__heading {
    display: flex;
    align-items: baseline;
    margin-top: 26px;
    margin-left: 20px;
}

.products__cards__heading h3::after {
    content:" > ";
    text-align: center;
}

.slider__control {
    display: none;
}

.products__cards {
    padding-top: 25px;
    padding-bottom: 25px;
}

.products_list {
    display: flex;
    flex-wrap: nowrap; 
    overflow: hidden;
}

.products_item {
    position: relative;
    flex: 0 0 290px;
    max-width: 290px;;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    padding: 20px;
}

/* на маленьких устройствах – 1 слайд (настройка по умолчанию) */

/* на средних экранах (ширина больше 768px) */
@media screen and (min-width: 768px) {
   
    .products__cards__heading {
        position: relative;
    }

    .products__cards__heading h3{
        display: inline;
        margin-top: 5px;
    }

    .slider__control {
        display: block;
        position: absolute; 
        padding-top: 5px ;       
    }

    .icon-to-left {
        margin-top: 5px;
        margin-left: 0px;
    }

    .icon-to-right {
        margin-top: 5px;
        margin-left: 10px;
    }

    .slider__control:nth-child(2) {
        top: -1px;
        right: 85px;
        width: 40px;
        height: 40px;
        background-color: var(--color-border);
        border-radius: 50%;
        text-align: center;
        margin-top: 5px;
        margin-left: -2px;
    }
    .slider__control:last-child {
        top: -1px;
        right: 30px;
        width: 40px;
        height: 40px;
        background-color: var(--color-border);
        border-radius: 50%;
        margin-top: 5px;
        margin-left: 10px;
    }


    .products_item {
        flex: 0 0 270px;
        max-width: 270px;
      }  
}

.product__img {
    margin: 0 auto;
}

.product__img img {
    margin: 0 auto;
}

.products_item__img {
    position: relative;
}

.product__new, .product__bestseller {
    position: absolute;    
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 13px;
}

.product__new {
    background-color: var(--bgcolor-new_goods);
    top: 0;
    left: 0;
    color: var(--color-new_goods); 
}

.product__bestseller {
    background-color: var(--bgcolor-bestseller);
    top: 30px;
    left: 0;
    color: var(--color-bestseller);
}


.product__item_heading {
    margin-top: 15px;
    font-size: 13px;
}

.product__preheading {
    margin: 0;
    color: var(--font-color-second);
    line-height: 19px;
}

.product__heading {
    line-height: 15px;
    margin-top: 5px;  
}

.product__rating {
    display: flex;
    align-items: center;
    margin-top: 7px;
    color: var(--color-rating-btn);
}

.rating-icon {
    margin-right: 5px;
    fill: var(--color-rating-btn);
}

.product__price {
    margin-top: 18px;
    font-size: 15px;
    line-height: 18px;
}

.product__price-new {
    display: inline;
}
.product__price-old {
    display: inline;
    text-decoration: line-through;
}

.product__actions {
    display: flex;
    align-items: baseline;
}

.product__action{
    position: absolute;
    top: 25px;
    right: 20px;
    margin-left: 17px;
}

.like-icon {
}

.compare-icon {
    margin-left: 20px;
}

.product__btn-add {
    flex-basis: 100%; 
    display: block;
    margin-top: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--color-rating-btn);
    color: var(--color-font-btn);
    text-align: center;
    line-height: 13px;
    border-radius: 5px;
}